extends _layouts/base

block content
  .flex-container
    .flex-a
      .flex-one
      .flex-two
      .flex-three
    .flex-b
    .flex-c
      .flex-x
      .flex-y
    .flex-d
    
    
  .container
    h1.vw 5vw scales with View Width
    h2.vw 3vw scales with View Width
    h3.vw 2vw scales with View Width
    h4.vw 2vw scales with View Width
    
    hr 
    
    h1 52px plus rem scaling
    h2 40px plus rem scaling
    h3 28px plus rem scaling
    h4 24px plus rem scaling
    h5 A short sentence.
    h6 A tiny short sentence.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  
